<form method='post' action='/suggestions/<%= @suggestion.id %>'>
  <input type='hidden' name='_method' value='put'>
  <textarea name='suggestion[comment]'>
    <%= @suggestion.comment %>
  </textarea>
  <input type='text' name='suggestion[author]' placeholder='Your Name' value='<%= @suggestion.author %>'>
  <input type='submit'>
</form>