<form action='/suggestions' method='POST'>
  <textarea type='text' name='comment' placeholder='Your Suggestion'>
  </textarea>
  <input type='text' name='author' placeholder='Your Name'>
  <input type='submit' value='Suggest'>
</form>